.elements__delete {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
    background-size: contain;
    background-image: url(../../../images/Trash.svg);
    background-size: 18px 19px;
    background-repeat: no-repeat;
    min-width: 18px;
    min-height: 19px;
    border: none;
    background-color: transparent;
    transition: .3s;
    cursor: pointer;
}

.elements__delete:hover {
    opacity: 0.6;
}