.elements__like {
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    min-width: 22px;
    min-height: 19px;
    border: none;
    background-position: center;
    background-color: transparent;
    margin-right: 21px;
}
.elements__like:hover {
    opacity: .5;
}
.elements__like:active{
    background-image: url(../../../images/Union.svg);
}
